[submodule "sys/printf"]
	path = ker/printf
	url = https://github.com/mpaland/printf.git
[submodule "sys/stb"]
	path = ker/stb
	url = https://github.com/nothings/stb.git
[submodule "sys/AMPi"]
	path = ker/AMPi
	url = https://github.com/kawa-yoiko/AMPi.git
[submodule "sys/uspi"]
	path = ker/uspi
	url = https://github.com/kawa-yoiko/uspi.git
[submodule "emu/unicorn"]
	path = emu/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "emu/glfw"]
	path = emu/glfw
	url = https://github.com/glfw/glfw.git
[submodule "emu/glew"]
	path = emu/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "emu/timer_lib"]
	path = emu/timer_lib
	url = https://github.com/mjansson/timer_lib.git
[submodule "emu/miniaudio"]
	path = emu/miniaudio
	url = https://github.com/dr-soft/miniaudio.git
[submodule "apps/overworld/wren"]
	path = apps/overworld/wren
	url = https://github.com/wren-lang/wren.git
