[submodule "sys/printf"]
	path = sys/printf
	url = https://github.com/mpaland/printf.git
[submodule "sys/stb"]
	path = sys/stb
	url = https://github.com/nothings/stb.git
[submodule "sys/AMPi"]
	path = sys/AMPi
	url = https://github.com/kawa-yoiko/AMPi.git
[submodule "sys/uspi"]
	path = sys/uspi
	url = https://github.com/kawa-yoiko/uspi.git
[submodule "emu/unicorn"]
	path = emu/unicorn
	url = https://github.com/unicorn-engine/unicorn.git
